.blog {
    background-color: #444;
    margin-top: 64px;

    .blog-content {
        padding: 0 0.75rem;
    }

    .blogs_container {
        padding: 2rem 0;
    }
}


.postContainer {
    max-width: 680px;
    margin: auto;

    .post {
        margin-bottom: 20px;
        box-shadow: 0 0 0 1px rgba(221, 221, 221, 0.089);
        border-radius: 3px;
        transition: 0.5s;
        background-color: #333;
    }

    .post-header {
        padding: 0 0.75rem;

        .post-header-content {
            padding: 0.75rem 0;

            display: flex;
            align-items: center;


            .post-avatar {

                .post-avatar-container {
                    border: 2px solid #666;
                    border-radius: 50%;
                    img {
                        height: 60px;
                        width: 60px;
                        object-fit: cover;
                        border-radius: 50%;
                        cursor: pointer;
                        user-select: none;
                        vertical-align: middle;
                        background-color: #ddd;
                    }
                }
            }

            .post-avatar-name-and-date {
                padding: 0 0.75rem;
                
                .post-avatar-name-container {
                    
                    span {
                        font-weight: bold;
                        cursor: pointer;
                        color: #ddd;
                    }
                }

                .post-date-container {
                    font-weight: normal;
                    font-size: 12px;
                    color: rgba(221, 221, 221, 0.247);
                }
            }
        }
    }

    .post-body {
        padding: 0 0.75rem;

        .post-body-container {
            
            .post-title {
                margin-bottom: 0.1rem;
                color: #ddd;
            }

            .post-context {
                padding: 0 0 0.25rem 0 ;


                .displayed-text {
                    line-height: 1.5;
                    color: #ddd;
                }

                .read-more-button {
                    display: inline-block;
                    cursor: pointer;
                    font-size: 14px;
                    color: rgb(0, 119, 255);

                }
            }
        }

    }

    .post-image {
        background-color: rgba(0, 0, 0, 0.548);
        max-width: 680px;
        height: 680px;


        display: flex;
        align-items: center;
        justify-content: center;

        ._f , ._g, ._h {
            height: 100%;
            width: 100%;
        }

        a {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            user-select: none;


            img {
                height: 100%;
                width: 100%;
                vertical-align: middle;
                object-fit: cover;
                user-select: none;
            }
        }

    }

    .postF {
        padding: 0 0.75rem;

        .f {
            padding: 0.75rem 0;
        }
    }
}


@media only screen and (max-width: 724px) {

    .blog {
       > .container {
           width: 100% !important;

            .blog-content {
                padding: 0 !important;
            }

            .blogs_container {
                padding: 1rem 0;
            }
        }
    }

    .postContainer {
        width: 100% !important;
        max-width: none;

        .post {
            box-shadow:  0 0 0 2px #666;
            border-radius: 0 !important;

            .post-image {
                max-width: 100%;
                height: 400px;
            }
        }

    }

    .FullImageModal {

        img {
            height: 50% !important;
            width: 90% !important;
            border: 3px solid #fff;
        }
    }
}


.FullImageModal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 111111;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    background-color: rgba(51, 51, 51, 0.24);

    img {
        width: 80%;
        height: 80%;
        object-fit: contain;
        border-radius: 5px;
        box-shadow: 2px 5px 20px rgba(51, 51, 51, 0.233);
        background-color: #444;
        cursor: pointer;
    }

}
