.hamburger-btn {
    height: 35px;
    width: 38px;
    background-color: transparent;
    padding: 0.2rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .btn-burger {
        pointer-events: none;
        position: relative;
        height: 4px;
        width: 100%;
        background-color: #ccc;
        border-radius: 3px;

        &::before, &::after {
            content: "";
            position: absolute;
            height: 4px;
            width: 100%;
            background-color: #ccc;
            border-radius: 3px;
        }

        &::before {
            top: -9px;
        }

        &::after {
            top: 9px;
        }
    }
}

