@media only screen and (max-width: 724px) {
    .mainNav {
        box-shadow: 0 2px 0 0 rgba(221, 221, 221, 0.11) !important;
    }
} 

.mainNav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 111111;
    line-height: 64px;
    box-shadow: 0 1px 0 0 rgba(221, 221, 221, 0.11);
    background-color: #333;

    .nav-components {

        // Width Screen Nav
        .width-nav {
            .container {
                .width-nav-content {
                    padding: 0 0.75rem;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;

                    .brand-logo {
                        margin-right: 0.75rem;

                        img {
                            height: 30px;
                            width: 30px;
                            border-radius: 4px;
                            object-fit: cover;
                            vertical-align: middle;
                        }
                    }


                    .width-nav-ul {
                        display: flex;

                        .width-nav-li {
                            margin-left: 0.75rem;
                            padding: 0 0.75rem;
                            
                            a {
                                color: #ddd;

                                &:hover {
                                    color: #fff;
                                }
                            }
                        }
                    }
                }   
            }
        }

        .smallNav {
            height: 64px;
            line-height: 64px;


            .small-nav-content  {
                height: 64px;
                line-height: 64px;
                padding: 0  0.75rem;
                display: flex;
                align-items: center;
                
                .brand-logo {
                    display: inline-block;

                    img {
                        height: 30px;
                        width: 30px;
                        border-radius: 4px;
                        object-fit: cover;
                        vertical-align: middle;
                    }
                }

                .hamburger {
                    display: inline-block;
                    margin-left: auto;
                }
            }
        }
    }
}


.smNavLink {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.952);
    color: #fff;
    transform: translateX(-100%);
    animation: smNavLink;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    

    @keyframes smNavLink {
        to {
            transform: translateX(0%);
        }
    }

    .sm-nav-ul {
        display: flex;
        flex-direction: column;
        margin-top: 64px;
        width: 100%;
        padding: 1rem;

        .sm-nav-li {
            line-height: normal;
            margin-bottom: 1.5rem;
            width: 80%;
            transition: 0.3s;

            &:hover {
                width: 100%;
            }

            a {
                display: block;
                padding: 0.75rem;
                color: #ddd;
                cursor: pointer;
                border-radius: 3px;
                background-color: #555;
                transition: 0.3s;

                &:hover {
                    padding-left: 1.75rem;
                    background-color: rgb(128, 64, 128);
                }
            }
        }
    }
}
